<div class="panel panel-primary custom">
    <!-- Default panel contents -->
    <div class="panel-heading">Admin zone</div>
    <div class="panel-body">
        <p>...</p>
    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <th>
                čas
            </th>
            <th>
                používateľ
            </th>
            <th>
                správa
            </th>
            <th>
            </th>
        <tr>
        <tr ng-repeat="item in messages">
            <td>
                {{item.timestamp | date:'dd.MM.yy HH:mm'}}
            </td>
            <td>
                {{item.client.name}}, ip: {{item.client.ip}}
            </td>
            <td>
                {{item.message | adminMessage}}
            </td>
            <td>
                <button type="button" class="close" aria-hidden="true" ng-click="deleteMessage(item._id);">&times;</button>
            </td>
        </tr>
    </table>
</div>
