<chat-block-ui></chat-block-ui>
<form id="chatForm" name="chatForm" ng-submit="submit();">
    <fieldset>
        <legend>
            <button class="btn btn-primary" type="button" disabled>
                Chatujúci <span class="badge">{{clients}}</span>
            </button>
        </legend>
        <textarea rows="3" placeholder="Správa..." ng-model="message" class="custom" required></textarea>
        <button type="submit" ng-disabled="chatForm.$invalid || editorDisable" class="btn btn-success btn-block">Odošli</button>
    </fieldset>
</form>