<div class="container custom">
    <span class="label label-warning">{{error.message}}</span>
    <form role="form" ng-submit="singup();" name="loginForm">
        <div class="form-group">
            <label for="user">Meno</label>
            <input type="text" class="form-control" name="user" id="user" placeholder="Meno" ng-model="user" required>
        </div>
        <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Heslo" ng-model="password" required>
        </div>
        <div class="form-group">
            <label for="password">Heslo znovu</label>
            <input type="password" class="form-control" name="password-repeat" id="password-repeat" placeholder="Heslo" ng-model="passwordRepeat" required>
        </div>
        <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-success">SING UP!</button>
    </form>
</div>