<!DOCTYPE html>
<html lang="en" ng-app="chat-app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="full js stack test application. Just test purpose">
        <meta name="author" content="miro.rucka">

        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">

        <link rel="shortcut icon" type="image/ico" href="favicon.ico">

        <title>chat v1.0.0</title>
    </head>
    <body style="" data-twttr-rendered="true">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav custom" nav-bar>
                    <li nav="active"><a href="#/">CHAT</a></li>
                    <li ng-show="!isLogged" nav="active"><a href="#/login">LOGIN</a></li>
                    <li ng-show="!isLogged" nav="active"><a href="#/singup">SIGN UP</a></li>
                    <li ng-show="isAdminLogged()" nav="active"><a href="#/admin">ADMIN</a></li>
                    <li ng-show="isLogged" nav="active" ng-click="logout();"><a href="#/logout" prevent-default>LOGOUT</a></li>
                    <button ng-show="isLogged" class="btn btn-primary" type="button" disabled>
                        {{username}}
                    </button>
                </ul>
            </div>
        </nav>
        <div ng-view></div>
        <script src="js/socket.io.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/angular-animate.js"></script>
        <script src="js/underscore.js"></script>
        <script src="js/underscore.string.js"></script>
        <script src="js/module/data.service.js"></script>
        <script src="js/module/app.module.js"></script>
        <script src="js/module/chat.module.js"></script>
        <script src="js/module/login.module.js"></script>
        <script src="js/module/singup.module.js"></script>
        <script src="js/module/admin.module.js"></script>
        <script src="js/jquery-2.0.3.js"></script>
    </body>
</html>